* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(48, 48, 48);
    color: rgb(239, 235, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 180px;
}

header {
    color: rgb(239, 235, 228);
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 50px;
}

h1, h2, p {
    text-transform: uppercase;
    text-shadow: 0 0 20px #0ff;
}

h2 {
    font-size: 32px;
}

.timer {
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 20px;
    background-color: rgb(71, 71, 71);
    box-shadow: inset 5px 5px 20px rgb(48, 48, 48),
                inset -5px -5px 20px rgb(48, 48, 48);
    padding: 15px;
    margin: 40px;
}